################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ToDoApplication/.vs/ToDoApplication/v16
/ToDoApplication/bin/Debug/netcoreapp3.1
/ToDoApplication/obj
/ToDoApplication/ToDoApplication.csproj.user
